<Prop Name='TEFModel' Type='Obj'>
	<Prop Name='General' Type='Obj'>
		<Prop Name='BatchModel' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='ButtonStop' Type='Obj'>
			<Prop Name='TerminateSocketExecutions' Type='Boolean'>
				<Value>True</Value>
			</Prop>
		</Prop>
	</Prop>
	<Prop Name='TestSockets' Type='Obj'>
		<Prop Name='TestSocket0' Type='Obj'>
			<Prop Name='OperationName' Type='String'>
				<Value>FCTO1</Value>
			</Prop>
			<Prop Name='SocketName' Type='String'>
				<Value></Value>
			</Prop>
		</Prop>
	</Prop>
</Prop>
