<Prop Name='TEFAppearance' Type='Obj'>
	<Prop Name='General' Type='Obj'>
		<Prop Name='Layout' Type='Obj'>
			<Prop Name='GroupName' Type='String'>
				<Value>Group1</Value>
			</Prop>
			<Prop Name='StationName' Type='String'>
				<Value>Station1</Value>
			</Prop>
		</Prop>
		<Prop Name='Fonts' Type='Obj'>
			<Prop Name='DialogTextBox' Type='Obj'>
				<Prop Name='FontSize' Type='Number'>
					<Value>16</Value>
				</Prop>
			</Prop>
			<Prop Name='StatusTextBox' Type='Obj'>
				<Prop Name='FontSize' Type='Number'>
					<Value>16</Value>
				</Prop>
			</Prop>
		</Prop>
	</Prop>
	<Prop Name='TestSockets' Type='Obj'>
		<Prop Name='TestSocket0' Type='Obj'>
			<Prop Name='StepList' Type='Obj'>
				<Prop Name='AutoScroll' Type='Boolean'>
					<Value>True</Value>
				</Prop>
			</Prop>
		</Prop>
	</Prop>
</Prop>
